*{
  font-family: 'Roboto', sans-serif;
}


@media screen and (min-width: 769px){
  .hero.is-large .hero-body {
    padding-bottom: 6rem;
    padding-top: 6rem;
  }
}


.hero.is-primary {
    background-color: white;
    color: #fff;
}

.hero.is-primary .title{
  color: black;
}
.hero.is-primary .subtitle{
  color: #777;

  padding-top: 1em;
}
.portfolio *{
  background-color: #23282d;
  font-family: Poppins;
  color: white;
}

.uppercase{
  text-transform: uppercase;
}
.clients *{
  background-color: #ebebeb;
    font-family: Poppins;
}
.clients .columns{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero.is-primary a.nav-item, .hero.is-primary .nav-item {
    color: black;
}

.client{
  width:100%;
}
.cta-section{
  min-width: 60vh;
}

.nav-item.is-active{
  color: black;
}
