*{
  font-family: 'Roboto', sans-serif;
}


@media screen and (min-width: 769px){
  .hero.is-large .hero-body {
    padding-bottom: 6rem;
    padding-top: 6rem;
  }
}


.hero.is-primary {
    background-color: white;
    color: #fff;
}

.hero.is-primary .title{
  color: black;
}
.hero.is-primary .subtitle{
  color: #777;
  line-height: 2rem;
  padding-top: 1em;
}

.portfolio{
  background-color: #23282d;
}
.portfolio *{
  font-family: Poppins;
  color: white;
}
.portfolio h3{
  font-size: 1.5rem;
}
.uppercase{
  text-transform: uppercase;
}
.clients *{
  background-color: #ebebeb;
    font-family: Poppins;
}
.clients .columns{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero.is-primary a.nav-item, .hero.is-primary .nav-item {
    color: black;
}

.client{
  width:100%;
}

.cta-section{
  min-width: 60vh;
}

.address{
  background-color: #23282d;
  color: #D1D3D4;
}
.address .columns{
  padding-top: 3rem;
  padding-bottom: 3rem;

}
.stack .columns{
  justify-content: center;
  /*-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  /*filter: grayscale(100%);*/
  /*max-width:2rem;*/
}
.cta-statement{
  font-size: 2rem;
}
.address h3{
  color: #7E8083;
  padding-bottom: 2em;
}

.nav-item.is-active{
  color: black;
}
.stack > div{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.invert {
  filter: invert(100%);
-webkit-filter: invert(100%);
}

.stack {
/*background-color: #23282d;*/
}

.work-with h2{
  font-size: 2rem;
  padding-bottom: 3rem;
}

.work-tgt {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ebebeb;
}
.work-tgt h2{
    font-size: 2rem;
}

.work-tgt a.cta{
  text-decoration: underline;
  font-size: 1.5rem;
  color: #7E8083;
  /*color: black;*/
}

footer.footer{
  color: white;
  background-color: #242524
}
